@font-face {
    font-family: 'minecraft';
    src: url('font/minecraft_font.ttf') format('truetype');
}

@font-face {
    font-family: 'Resource-Han-Rounded';
    src: url('font/ResourceHanRoundedCN-Regular.ttf') format('truetype');
}