* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100vw;
    height: 100vh;
    background-color: #F6F8FA;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input {
    border: none;
    outline: none;
    min-height: 40px;
    padding: 0 12px;
    border-radius: 4px;
}