:root {
    --main-background: #F6F8FA;
    --minor-color: #4091FF;
    --panel-background: #FFFFFF;
    --font-color-white: #212121;
    --font-color-black: #FFFFFF;
    --track-color: #4091FF99;
    --track-slot-color: #E0E0E0AA;
    --button-color: #4091FF19;
    --border-color-default: #21212166;
    --border-color-hover: #212121CC;
    --border-color-focus: var(--minor-color);
    --switch-not-checked: #CCCCCC;
    --switch-checked: var(--minor-color);
    --switch-ball: var(--panel-background);
    --step-border: #21212199;
    --font-family: 'Resource-Han-Rounded', 'Consolas', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background);
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input[type="text"],
input[type="number"] {
    border: none;
    outline: none;
    min-height: 40px;
    padding: 0 12px;
    border-radius: 4px;
}