$mainBg: #F6F8FA;
$minorBg: #4091FF;
$panelBg: #FFFFFF;
$font-color: #212121;
$font-color-dark: #FFFFFF;
$scrollerbarBg: #E0E0E066;
$scrollerbarClr: #4091FF99;
$red: #f56c6c;
$green: #00C85B;
$blue: #0099ff;
$yellow: #FFD87D;

$global-font-family: 'Resource-Han-Rounded', 'Consolas', sans-serif;

@mixin cols() {
    display: flex;
    flex-direction: row;
}

@mixin rows() {
    display: flex;
    flex-direction: column;
}

@mixin center() {
    align-items: center;
    justify-content: center;
}

// button
@mixin button() {
    @include cols();
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transform: translateY(0);
    transition: transform .2s ease-in-out,
        box-shadow .2s linear,
        color .2s ease-in-out,
        font-size .2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
    }
}

@mixin jump-button() {
    @include button();
    min-width: 100px;
    max-height: 40px;
    justify-content: center;
    border: 1px solid $font-color;
    color: $font-color;
    background-color: transparent;
    transition: color .15s ease-in-out,
        background-color .2s ease-in-out;

    &:hover {
        transform: none;
        box-shadow: none;
        border-color: $minorBg;
        color: $minorBg;
        background-color: rgba($minorBg, $alpha: .08);
    }
}

// scrollbar
@mixin scroll() {
    &::-webkit-scrollbar {
        width: 8px;
        background-color: $scrollerbarBg;
        border-radius: 4px;
        transform: translateX(100px);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $scrollerbarClr;
    }
}