$red: #f56c6c;
$green: #00C85B;
$blue: #0099ff;
$yellow: #FFD87D;

@mixin cols() {
    display: flex;
    flex-direction: row;
}

@mixin rows() {
    display: flex;
    flex-direction: column;
}

@mixin center() {
    align-items: center;
    justify-content: center;
}

input {
    font-family: var(--font-family);
}

// button
@mixin button() {
    @include cols();
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transform: translateY(0);
    color: var(--font-color-white);
    transition: transform .2s ease-in-out,
        box-shadow .2s linear,
        color .2s ease-in-out,
        opacity .2s ease-in-out,
        font-size .2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
    }
}

@mixin jump-button() {
    @include button();
    min-width: 100px;
    max-height: 40px;
    justify-content: center;
    border: 1px solid var(--font-color-white);
    color: var(--font-color-white);
    background-color: transparent;
    transition: color .1s ease-in-out,
        border-color .2s ease-in-out,
        background-color .2s ease-in-out;

    &:hover {
        transform: none;
        box-shadow: none;
        border-color: var(--minor-color);
        color: var(--minor-color);
        background-color: var(--button-color);
    }
}

// scrollbar
@mixin scroll() {
    &::-webkit-scrollbar {
        width: 8px;
        background-color: var(--track-slot-color);
        border-radius: 4px;
        transform: translateX(100px);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--track-color);
    }
}